/* IconButton styles */
.img-btn {
  position: relative;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 260px;
  height: 90px;
}

.btnCol {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  min-height: 50vh;
}

.img-btn img {
  width: 100%;
  height: 100%;
  display: block;
}

.img-btn-text {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  font-weight: 800;
  
  pointer-events: none;
  font-size: 1.6em;
  text-align: center;
  width: 90%;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Poppins', 'Segoe UI', sans-serif;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}


h1,
h2,
p {
  color: #000;
  font-family: 'Poppins', 'Segoe UI', sans-serif;
}
