/* IconButton styles */
.img-btn {
  position: relative;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 200px; /* ajuste conforme necessário */
  height: 64px; /* ajuste conforme necessário */
}

.btnCol {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.img-btn img {
  width: 100%;
  height: 100%;
  display: block;
}

.img-btn-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.7);
  pointer-events: none;
  font-size: 1em;
  text-align: center;
  width: 90%;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
