:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  height: 100%;
  text-align: center;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-image: url('../assets/Background_Blue.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: white; /* Garante que o texto seja branco */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
}

button {
  /* Os estilos do botão serão controlados pelo App.css (.img-btn) */
}
