.play-nav-bar {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.play-container {
    margin-top: 80px; /* Adjust this value based on the height of your navbar */
    padding: 2rem;
}

.music-btn {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 8px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.music-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.music-btn img {
    width: 40px;
    height: 40px;
    margin-right: 12px;
    border-radius: 4px;
}

.music-btn-text {
    font-size: 1rem;
    color: white;
}

.thing-btn {
    position: relative;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    width: 50px; /* ajuste conforme necessário */
    height: 50px; /* ajuste conforme necessário */
}

.thing-img {
    width: 100%;
    height: 100%;
    display: block;
}

