.play-music-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px; /* Espaço para a navbar */
    text-align: center;
    width: 100%;
}

.player-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px; /* Aumenta a largura máxima para acomodar os botões */
    margin-top: 20px;
}

.controls-container {
    display: flex;
    flex-direction: column;
    gap: 1rem; /* Espaçamento entre os botões */
    margin-right: 2rem; /* Espaçamento entre os botões e o vídeo */
}

.video-player {
    width: 100%; /* O vídeo vai ocupar o espaço restante */
    max-width: 800px;
    height: auto;
    border: 2px solid #fff;
    border-radius: 8px;
}
